<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>ZMAP Saltmarsh 5e</title>

    <link id="favicon" rel="icon" type="image/x-icon" href="https://lh6.googleusercontent.com/QOYxDOMfbTBqrhQAqjt8hBST_R_GyamrpGm4h16JHAv_6TcTP3Hwr-Xr_gp_lbxUqGSTM_ZqM-4SpqV-uRPJ_js=w16383">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  </head>
  <body>
    <!-- BEGIN NAV BAR -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation"></nav>
    <!-- END NAV BAR -->
    
    <!-- BEGIN HEADER -->
    <div id="about" class="intro-header"></div>
    <!-- END HEADER -->
    
    <!-- BEGIN SECITION-A -->
    <div id="services" class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer" />
            <div class="clearfix"></div>
            <h2 class="section-heading">
              Finally, it's here.
            </h2>
            <p class="lead">
              It's the Slack App you didn't know you wanted or needed.
              Let's get down and dirty with some d20s, 
              all from the convenience of everyone's favorite productivity tool.
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img
              class="img-responsive"
              src="https://cdn.glitch.com/f42a6ce3-5f21-499a-946d-5369378095d8%2FFaerun.jpg?v=1618770919975"
              alt="The Forgotten Realms"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- END SECTION-A -->
    
    <!-- BEGIN SECTION-B -->
    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
            <hr class="section-heading-spacer" />
            <div class="clearfix"></div>
            <h2 class="section-heading">
              The Sword Coast is a big place.<br />
              It's also not this campaign.
            </h2>
            <p class="lead">
              We've spent enough time dicking around in Phandalin!
              It's time to be the real heroes we are and go fight that Kraken, 
              Cthulu, or whatever other fresh hell awaits.
            </p>
          </div>
          <div class="col-lg-5 col-sm-pull-6 col-sm-6">
            <img class="img-responsive" src="https://cdn.glitch.com/f42a6ce3-5f21-499a-946d-5369378095d8%2FSword%20Coast%20--%20Tolkien.jpg" alt="The Sword Coast"/>
          </div>
        </div>
      </div>
    </div>
    <!-- END SECTION-B -->
    
    <!-- BEGIN SECTION-C (A is for "repeated" pattern) -->
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer" />
            <div class="clearfix"></div>
            <h2 class="section-heading">
              Is this map in the game?<br />
              Only Patrick knows.
            </h2>
            <p class="lead">
              Will there be a GM-friendly interface?
              Probably not. So it goes.
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="https://cdn.glitch.com/f42a6ce3-5f21-499a-946d-5369378095d8%2FSwamp.jpg" alt="Swamps of Saltmrash"/>
          </div>
        </div>
      </div>
    </div>
    <!-- END SECTION-C -->
    
    <div id="contact" class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Adventure awaits!</h2>
          </div>
          <div class="col-lg-6">
            <ul class="list-inline"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="loginDiv"></div>
    
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/loader.js" defer></script>
    <script>
      "use strict";
      $(document).ready((e) => {
        loader.addBanner(document);
        loader.addButtons(document);                  
      })
      document.getElementById('loginForm').addEventListener('submit', client.startSession);
    </script>
  </body>
</html>
