@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), url("fonts/Lato-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"),
    url("fonts/Lato-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), url("fonts/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), url("fonts/Lato-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), url("fonts/Lato-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"),
    url("fonts/Lato-BoldItalic.woff2") format("woff2");
}
body,
html {
  width: 100%;
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.topnav {
  font-size: 14px;
}
.lead {
  font-size: 18px;
  font-weight: 400;
}
.intro-header {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #111111;
  background: url(https://cdn.glitch.com/f42a6ce3-5f21-499a-946d-5369378095d8%2FSALTMARSH.jpg);
  background-size: cover;
}
.intro-message {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 100px; 
  background-color: rgba(254, 253, 252, 0.5);
}
.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 5px rgba(22, 55, 77, 0.6);
  font-size: 5em;
}
.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.intro-message > h3 {
  text-shadow: 4px 4px 7px rgba(255, 200, 220, 0.95);
  color: #c10808
}
@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message > h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}
.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.content-section-a {
  padding: 50px 0;
  background-color: #cbcbcb;
}
.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.section-heading {
  margin-bottom: 30px;
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.banner {
  padding: 100px 0;
  color: #434343;
  background: url(https://cdn.glitch.com/f42a6ce3-5f21-499a-946d-5369378095d8%2FStanford-Block-S.png);
  background-size: 200px 300px;
  background-repeat: no-repeat
}
.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  color: #333333;
  font-size: 3em;
}
.banner ul {
  margin-bottom: 0;
}
.banner-social-buttons {
  float: right;
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    color: #333333;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}
p.copyright {
  margin: 15px 0 0;
}
form {
  background-color: rgba(200, 200, 200, 0.5);
  width: 750px;
  border: 4px solid #202020;
  border-radius: 50px;
}
form .content-section-a {
  margin: 20px 20px;
  padding: 0px 0px;
  width: 700px;
  border-radius: 30px; 
  background-color: #cbcbcb;
}
form .content-section-b {
  margin: 20px 20px;
  padding: 0px 0px;
  width: 700px;
  border-radius: 30px; 
  border-top: none;
  border-bottom: none;
}
input {
  width: 250px;
  border-radius: 30px;
  padding-top: 2em;
  margin-top: 4em;
  text-align: center
}
.modal-login {
	width: 320px;
  border-radius: 30px;
}
.modal-login .modal-content {
	border-radius: 30px;
	border: none;
  width: 320px;
}
.modal-login .modal-content form {
  width: 320px;
  border-radius: 30px;
  border-width: 8px;
  background: #d3d3d3;
}
.modal-login .modal-header {
	position: relative;
	justify-content: center;
  border-radius: 30px;
	background: #f2f2f2;
  margin-top: 10px;
}
.modal-login .modal-body {
	padding: 30px;
  border-radius: 30px;
}
.modal-login .modal-footer {
	background: #f2f2f2;
  border-radius: 30px;
  margin-bottom: 10px;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login label {
  display: inline-block;
	font-weight: normal;
	font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 38px;
	border-radius: 15px; 
}
.modal-login .hint-text {
	text-align: center;
}
.modal-login .close {
	position: absolute;
	top: 25px;
	right: 25px;
}
.modal-login .checkbox-inline {
	margin-top: 12px;
}
.modal-login input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.modal-login .btn {
	min-width: 100px;
	background: #3498db;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #248bd0;
}
.modal-login .hint-text a {
	color: #999;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
select {
  width: 80%;
  height: 80%;
  margin: 10px;
  font-size: 14px;
}